body {
  background-color: #080808;
  font-family: 'Roboto', sans-serif;
  color: cadetblue;
}
h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 75px;
}
#intro {
  text-align: center;
}
#telegram {
  font-size: 25px;
}
#pages {
  color: #ffffff;
}
#time {
  color: #3a6460
}
a:link {
  text-decoration: none;
  color: #188f57;
  background: transparent;
}
a:visited {
  text-decoration: none;
  color: #188f57;
  background: transparent;
}
