body {
  background-color: #080808;
  font-family: 'Roboto', sans-serif;
  color: cadetblue;
}
h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 90px;
}
#intro {
  text-align: center;
}
#telegram {
  font-size: 25px;
}
a:link {
  text-decoration: none;
  color: #20ad6b;
  background: transparent;
}
a:visited {
  text-decoration: none;
  color: #20ad6b;
  background: transparent;
}
